.title-fluid {
    background: none;
    text-align: center;
    padding: 2rem;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
    text-align: center;
}

.dirRtl {
    text-align: right;
    padding: 7px;
/*    display: block;*/
/*
    height: 300px;
    width: 100%;
*/
}

row {
/*    display: flex;*/
    width: 100%;
}

.img-fluid {
    max-height: 300px;
/*    height: 100%;*/
    width: auto;
    max-width: 100%;
    padding: 7px;
/*
    display: block;
    box-sizing: border-box;
*/
}

/*
.row::after {
    display: block;
    clear: both;
    content: "";
}

.homePictures {
    padding-bottom: 3rem;
    text-align: center;
}

.homePicture {
    padding: 1rem;
}*/
