.title-fluid {
    background: none;
    text-align: center;
    padding: 2rem;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
    text-align: center;
}

.btnWrapper {
    margin-top: 2rem;
}

.nav-link {
    margin-left: 30px;
}

button.homeBtn {
    background-color: chocolate;
    color: antiquewhite;
    display: block;
    margin: auto;
}

h5.modal-title {
    margin: left;
}

.dirRtl {
    text-align: right;
    padding: 7px;
/*    display: block;*/
/*
    height: 300px;
    width: 100%;
*/
}

row {
/*    display: flex;*/
    width: 100%;
}

.img-fluid {
    max-height: 300px;
/*    height: 100%;*/
    width: auto;
    max-width: 100%;
    padding: 7px;
}

.imgCenter {
    display: block;
    margin: auto;
}

.modalFormWrapper {
    padding: 2rem;

}

.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 50%;
}

.iconCenter {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.footerImg {
    max-width: 100%;
    height: auto;
    padding: 15px;
    margin-left: 40px;
}

.fab {
    margin: 10px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-instagram {
    color: white;
}

.fa-linkedin-in {
    color: #0077B5;
}

.socialWrapper {
    margin: auto;
}

/*
    display: block;
    box-sizing: border-box;
*/
}

/*
.row::after {
    display: block;
    clear: both;
    content: "";
}

.homePictures {
    padding-bottom: 3rem;
    text-align: center;
}

.homePicture {
    padding: 1rem;
}*/
